.c-time {

  background-color: #fff;
  color: #244152;
  position: absolute;
  z-index: 10;
  width: 100px;
  padding: 5px 0;
  border-radius: 3px;
  height: 203px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  overflow: auto;

  &.time-show {
    visibility: visible;
    opacity: 1;
    transition: opacity 100ms linear;
  }

  &.time-hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 100ms, opacity 100ms linear;
  }

  > .item {
    padding: 10px 0;
    text-align: center;


    &:hover {
      background-color: #026aa7;
      cursor: pointer;
    }

    &.selected {
      background: #026aa7;
      color: white;
      cursor: default;
    }
  }
}
