.c-month-header {
  float: left;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;

  > i {
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-style: normal;
    font-size: 0.7em;

    &:hover {
      background-color: #026aa7;
      color: white;
    }
  }

}
